.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.criminals {
    border: 1px dotted black;
    padding: 1rem;
    margin: 1.5rem;
    width: 25%;
}

.criminals--associates {
    margin-top: 0.25rem;
}