.noteFormContainer {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}

#saveNote, #showNotes, #getWitnesses, #getFacilities{
    margin: 0.25rem auto;
}

input, select {
    width: 90%;
    margin: 0.25rem auto;
    color: grey;
}

textarea {
    width: 90%;
    margin: 0.25rem auto;
    color: grey;
}